body {
    background-color: black;
    color: white;
}

table {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

caption{background-color: red; border:2px solid black; color: black; font-weight: 700;}

th, td {
    padding: 15px;
  }

  th{background-color: red; border: 2px double black; color: black; font-weight: 700;}

  table, td {
    border: 1px solid red;
    border-collapse: collapse;
  }

  caption {
    padding-top: 100px;
  }